<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sales force data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
 </head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <img style="width:80px;height:60px;" alt="Brand" src="http://assets.pureprofile.com/images/brands/pureprofile.png" >
     </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="jumbotron">
  <h3>Salesforce data</h3>
        <hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
        <strong>Auto ID</strong>
    </div>
    <div class="col-md-1">
        <strong>BrandID</strong>
    </div>
    <div class="col-md-1">
        <strong>BrandName</strong>
    </div>
    <div class="col-md-1">
        <strong>BrandAccount</strong>
    </div>
    <div class="col-md-1">
        <strong>BrandBriefAndNotes</strong>
    </div>
    <div class="col-md-1">
        <strong>BrandImageUrl</strong>
    </div>
    <div class="col-md-1">
        <strong>BrandTrackingUrl</strong>
    </div>
    <div class="col-md-1">
        <strong>CountOfProductCategories</strong>
    </div>
    <div class="col-md-1">
        <strong>FacebookLikes</strong>
    </div>
  </div>
    %for item in brandsdata:
  <div class="row">
    <div class="col-md-1">{{item['autoid']}}</div>
    <div class="col-md-1">{{item['brandid']}}</div>
    <div class="col-md-1">{{item['brandname']}}</div>
    <div class="col-md-1">{{item['brandaccount']}}</div>
    <div class="col-md-1">{{item['brandbriefandnotes']}}</div>
    <div class="col-md-1">{{item['brandimageurl']}}</div>
    <div class="col-md-1">{{item['brandtrackingurl']}}</div>
    <div class="col-md-1">{{item['countofproductcategories']}}</div>
    <div class="col-md-1">{{item['facebooklikes']}}</div>
  </div>
    %end
</div>
</div>
</div>
</body>
</html>